/* main body */

* {
    font-family: Railway, Arial, sans-serif;
    
    
}
body {
    background: linear-gradient(45deg, #d7d0c8, #f87666);
    margin: 0;
    padding: 0;
}


/*Navigation */

.brand {
    font-family: Open-Sans, Arial, sans-serif;
    color: #95a78d;
}


/*Hero Image */
.image-container {
    position: relative;
    overflow: hidden;
}

/* About section*/

.accordion-item {
    border-style: outset;
}

/* Index */

.indexblurb {
    padding-top: 15px;
    padding-left: 15px;
    }


/*media queries*/

@media screen (max-width:767px) {} @media screen (min-width:768px)｛｝