{% extends 'base.html' %} {% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="patient_ID">{{ Appointments.patient_ID }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ Appointments.author }} | {{ Appointments.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "created_on" in Appointments.created_on === DateTimeField %}
               
                {% else %}
                {% if "created_on" in Appointments.created_on != DateTimeField %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}