{% extends "base.html" %}

{% block content %}


<!--Hero Image-->

<div class="image-container">
    <img src="../static/images/stethoscope.png" class="img-fluid" alt="close-up-photo-of-a-stethoscope">
</div>

<!--Blurb on a health Survey accordion-->
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item about">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is a Health Survey?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><strong>Health surveys are :</strong> a tool used to gather information on the behavior of a specific group of people from a determined area. This kind of survey allows health care experts to understand better how a community acts towards health.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Why are Health Surveys neccessary?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><strong>Health surveys are :</strong> a necessary and helpful instrument for decision-making when crafting a health plan. Health surveys provide specific information about the epidemiological situation, health trends, life habits, and the use of health services from the patients’ point of view.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Why are we collecting this information?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><strong>To locate risk factors.</strong> This type of survey allows physicians to locate risk factors in the community around the hospital or health care centers, such as tobacco use, alcohol use, poor diet habits, and lack of physical exercise, which are common health behaviors.</div>
      </div>
    </div>
  </div>
  <!--Overview of the Survey-->
  <div class="container-fluid">
    <h2 class = "indexblurb">Welcome to the <span class="brand">Patients Survey</span></h2>
        <p class = "indexblurb">The Survey has the following record counts:</p>
        <!--Total number of patients recruited and comments-->
            <ul>
                <li><strong>Total number of Patients Recruited :</strong> {{ num_appointments }}</li>
                <li><strong>Comments added to Patient Files:</strong> {{ num_comments }}</li>
            </ul>
  </div>
  <div class="container-fluid">
    <div class="row">

        {% if forloop.counter|divisibleby:3 %}

        {% endif %}
        {% endfor %}
    </div>
  

  <!-- Paginated section from Code Insitute I think therefore I blog project-->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

          {% endif %}
      </ul>
  </nav>
  {% endif %}
</div>
  
{% endblock %}